.Cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* flex: 1 0; */
  background-color: darkmagenta;
  border: none;
  width: 100%; 
}

.Card {
  text-align: center;
  /* flex: 0 0 auto; */
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}