.Cards {
  display: flex;
  flex-direction: column;
  background-color: darkmagenta;
  border: none;
  max-height: 300px;
  overflow-y: scroll;
}

.Cards::-webkit-scrollbar-track {
  border-radius: 9px;
  background-color: transparent;
}

.Cards::-webkit-scrollbar {
  width: 9px;
  background-color: transparent;
}

.Cards::-webkit-scrollbar-thumb {
  background-color: rgba(75, 75, 75, 0.2);
}

.Cards::-webkit-scrollbar-thumb:hover {
  background-color: rgba(75, 75, 75, 0.4);
}
