.Cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 0;
  background-color: darkmagenta;
  border: none;
  max-height: 300px;
}

.Card {
  flex: 3 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}